* {
  margin: 0;
  padding: 0;

}

.first-page  {
  background-image: url('1.jpg');
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-size: cover;
}

.logo img{
 width: 150px;
 height: 80px;
}
.flowers-container {
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #F5F5F5;

}

.grid-item {
  width: 20vw;
  height: 45vh; 
  text-align: center;
}

.grid-item img {
  width: 80%;
  height: 60%;
   border: 5px solid #FAFAD2;
   border-radius: 1em 2em 3em 4em;
}

.grid-item h3 {
  margin-top: 8px;
  font-size: 22px;
  font-weight: bold;
}

.grid-item p {
  margin-top: 5px;
  font-size: 17px;
}

@media screen and (max-width: 768px) {
  .grid-item {
    width: calc(50% - 10px); 
  }
}

@media screen and (max-width: 480px) {
  .grid-item {
    width: 100%; 
  }
}
